{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}

  <div class="jumbotron p-5 text-white rounded bg-info" style="height:560px ">
    <div class="col-md-6 px-0" style="margin:95px">
      <h1 class="display-4 " style="font-size:90px">About Us!</h1>
      <p class="lead my-3" style="">RentVibe was founded in 2024 and expanded digitally in 2024. Over the last year, we’ve been committed to providing the best car rental experience. Now, with a renewed fleet of vehicles, RentVibe is all set to meet your travel needs and expectations!</p>
    </div>
  </div>
{% endblock body %}